/* Products */
.products {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    list-style-type: none;
}

.products li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 100%;
    position: relative;
}

.card-product {
    border: none;
    margin-bottom: 2rem;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    -webkit-transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
    transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
    cursor: pointer;
    margin-top: 2rem;
}

.card-product:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 4px 25px 0 rgba(34, 41, 47, 0.25);
}

.card-product-body {
    padding: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.product img {
    width: 100%;
    max-height: 26rem;
    width: 300px;
    height: 260px;
    /* margin-top: 2rem; */
}

.product-name {
    line-height: 2.2rem;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #203040;
}

.product-brand {
    font-size: 1.4rem;
    color: #808080;
}

.product-price {
    font-size: 2rem;
    font-weight: 600;
    color: #203040;
}

.product-price span {
    font-size: 1.2rem;
}

.product-description {
    text-align: justify;
    /* padding: 10px 25px 0px 0px; */
}

.product-name,
.product-brand,
.product-price, 
.product-rating,
.product-description {
 padding: 8px 0px;
 line-height: 25px;
}

/* Product Details */
.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.details-image {
    flex: 1 1 50rem;
}

.details-image img {
    max-width: 65rem;
    width: 100%;
}

.details-info,
.details-action {
    flex: 1 1 30rem;
}

.details-info {
    margin: 0px 20px 0px 0px;
}

.details-info ul,
.details-action ul {
    padding: 0;
    list-style-type: none;
}

.details-info h1 {
    font-size: 2rem;
    margin: 0;
}

.details-info li,
.details-action li {
    margin-bottom: 1.5rem;
}

.details-action {
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
}

.back-to-result {
    margin: 25px 0px;
}

.title-product {
    border-bottom: 1px solid #f08040;
}

.product-price-content {
    display: flex;
}

.product-price-create,
.product-discountprice-create {
    display: grid;
}

.product-discountprice-create {
    position: absolute;
    float: right;
    right: 25px;
}

.card-product-label {
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: -.01em;
    padding: .5rem .9rem;
    text-align: center;
    background-color: #d12420;
    color: #fff;
}

.details-image .card-product-label {
    top: 10rem;
    left: 5rem;
}

.card-product-label.label-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.6rem;
    height: 4.6rem;
    min-width: 0;
    border-radius: 50%;
    line-height: 1;
}

.product-discount-price {
    font-size: 2rem;
    font-weight: 600;
    color: #cccccc;
    text-decoration: line-through;
    padding: 8px 0px 8px 10px;
    line-height: 25px;
}

.product-price-content {
    display: flex;
}

.product-price-content .product-price {
    color: #d12420;
}

.product-old-price {
    color: #cccccc;
    text-decoration: line-through;
    margin-left: 5px;
}